asgiref==3.2.3
attrs==19.3.0
autobahn==19.11.1
Automat==0.8.0
certifi==2019.11.28
cffi==1.13.2
channels==2.4.0
chardet==3.0.4
constantly==15.1.0
cryptography==2.8
daphne==2.4.1
Django==3.0.1
django-cors-headers==3.2.0
django-hashers-passlib==0.4
django-rest-auth==0.9.5
djangorestframework==3.11.0
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
passlib==1.7.2
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser==2.19
PyHamcrest==1.9.0
pyOpenSSL==19.1.0
python-mimeparse==1.6.0
pytz==2019.3
requests==2.22.0
RestAuth==0.6.3
RestAuthCommon==0.7.0
service-identity==18.1.0
six==1.13.0
South==1.0.2
sqlparse==0.3.0
Twisted==19.10.0
txaio==18.8.1
urllib3==1.25.7
zope.interface==4.7.1
