<!DOCTYPE html>
<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Decentralized H2O Harvestin</title>
	{% load static %}
	<link rel="canonical" href="https://www.creative-tim.com/product/argon-dashboard-pro" />
	
	<link rel="icon" href="{% static 'website/assets/img/brand/favicon.png' %}" type="image/png">

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">

	<link rel="stylesheet" href="{% static 'website/assets/vendor/nucleo/css/nucleo.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'website/assets/vendor/_fortawesome/fontawesome-free/css/all.min.css' %}" type="text/css">

	<link rel="stylesheet" href="{% static 'website/assets/css/argon.min.css' %}" type="text/css">
	{% block css %}
	{% endblock %}
</head>
<body>
	<nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white" id="sidenav-main">
		<div class="scrollbar-inner">
			<!-- Brand -->
			<div class="sidenav-header d-flex align-items-center">
				{% comment %} <a class="navbar-brand" href="../../../argon-dashboard-pro/pages/dashboards/dashboard.html">
					<img src="{% static 'website/assets/img/brand/blue.png' %}" class="navbar-brand-img" alt="...">
				</a> {% endcomment %}
				<div class="ml-auto">
					<!-- Sidenav toggler -->
					<div class="sidenav-toggler d-none d-xl-block" data-action="sidenav-unpin" data-target="#sidenav-main">
						<div class="sidenav-toggler-inner">
							<i class="sidenav-toggler-line"></i>
							<i class="sidenav-toggler-line"></i>
							<i class="sidenav-toggler-line"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="navbar-inner">
				<!-- Collapse -->
				<div class="collapse navbar-collapse" id="sidenav-collapse-main">
					<!-- Nav items -->
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link active" href="{% url 'home_view' %}" role="button" aria-controls="navbar-dashboards">
								<i class="ni ni-shop text-primary"></i>
								<span class="nav-link-text">Dashboards</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'view_transactions' %}">
								<i class="ni ni-chart-pie-35 text-info"></i>
								<span class="nav-link-text">View BlockChain</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="../../../index.html">
								<i class="ni ni-calendar-grid-58 text-red"></i>
								<span class="nav-link-text">Send Credits</span>
							</a>
						</li>
					</ul>
					<hr class="my-3">
				</div>
			</div>
		</div>
	</nav>
	{% block main %}

	{% endblock %}

	<script src="{% static 'website/assets/vendor/jquery/dist/jquery.min.js' %}"></script>
	<script src="{% static 'website/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'website/assets/vendor/js-cookie/js.cookie.js' %}"></script>
	<script src="{% static 'website/assets/vendor/jquery-scrollbar/jquery.scrollbar.min.js' %}"></script>
	<script src="{% static 'website/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js' %}"></script>

	<script src="{% static 'website/assets/vendor/chart-js/dist/Chart.min.js' %}"></script>
	<script src="{% static 'website/assets/vendor/chart-js/dist/Chart.extension.js' %}"></script>

	<script src="{% static 'website/assets/js/argon.min.js' %}"></script>

	<script src="{% static 'website/assets/js/demo.min.js' %}"></script>
	{% block js %}
	{% endblock %}

</body>
</html>